@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  background: rgb(103, 204, 250);
  display: flex;
  height: 15vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  font-size: x-large;

}

.funStuff {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.blueprints {
width: 35rem;
}

.TvEtext{
  color: rgb(248, 220, 95);
  text-shadow: 5px 5px 10px rgb(197, 1, 1);
  font-family: 'electrical', 'sans-serif';
}

.TvEimg {
  padding-bottom: 50px;
}

.DHvideo {
  padding-bottom: 50px;
}

.DRdiv {
padding-bottom: 50px;
}