@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Godofthunder';
  src: local('Godofthunder'), url(./Godofthunder-0WO1P.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: 'Noto Sans', sans-serif;
}
header *{
  display: inline;
}

header {
  background-color: rgb(112, 112, 112);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px 0 rgb(248, 220, 95);
}
header li {
  margin: 20px;
}

header li a{
  color: rgb(248, 220, 95);
  text-decoration: none;
  font-family: 'Godofthunder';
  text-shadow: 5px 5px 10px rgb(197, 1, 1);
  font-size: 24px;
}
header img {
  height: 80px;
  margin-left: 40px;
}

/* nav {
  background: rgb(149, 165, 172);
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
} */

.funStuff {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.blueprints {
width: 35rem;
}

.TvEtext{
  color: rgb(248, 220, 95);
  text-shadow: 5px 5px 10px rgb(197, 1, 1);
  font-family: 'Godofthunder', 'sans-serif';
}

.TvEimg {
  padding-bottom: 50px;
}

.TvEimg img {
  border-radius: 5px;
}

.DHvideo {
  padding-bottom: 50px;
}

.DRdiv {
padding-bottom: 50px;
}

.DRdiv img {
  border-radius: 10px;
}

.stormsh1{
  color: rgb(248, 220, 95);;
  text-shadow: 5px 5px 10px rgb(197, 1, 1);
  font-family: 'Godofthunder', 'sans-serif';
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  width: 100vw;
  height: 75vh;
  position: relative;
}

.location-icon {
  font-size: 4rem;
  color: rgb(248, 220, 95);
}

.location-info {
  position: absolute;
  top: 85px;
  width: 240px;
  min-height: fit-content;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.location-info ul {
  list-style: none;
  padding: 0;
}

.location-info ul li {
  padding: 5px 0;
}
