@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', sans-serif;

}

nav {
  background: rgb(103, 204, 250);
  display: flex;
  height: 15vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.funStuff {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.blueprints {
width: 35rem;
}

.drText{
  color: rgb(204, 231, 255);
  /* text-shadow: 5 10px 5 rgb(245, 242, 75); */
}

.TvEimg {
  padding-bottom: 50px;
}

.DHvideo {
  padding-bottom: 50px;
}

.DRdiv {
padding-bottom: 50px;
}